@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/disqus\.scss;
  }

  line {
    font-family: \000031;
  }
}

#disqus_thread {
  margin-top: 60px;
}