@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \000031;
  }
}

.showcase {
  min-height: 280px;
  width: 100%;
  color: #ffffff;
  background-color: #005a66;
  padding-bottom: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \000033;
  }
}

.showcase .container {
  padding-top: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \000039;
  }
}

.showcase h1 {
  font-size: 7em;
}

@media (max-width: 700px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
    }

    line {
      font-family: \000039;
    }
}

  .showcase h1 {
    font-size: 3em;
  }
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000316;
  }
}

.showcase h1 {
  text-shadow: 1px 1px #414042;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000317;
  }
}

.showcase h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000318;
  }
}

.showcase .btn {
  margin-top: 10px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000319;
  }
}

.showcase .btn:hover {
  background-color: #fff;
  color: #005a66;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000320;
  }
}

.showcase i {
  padding-right: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000321;
  }
}

.showcase .showcase-promote {
  margin-top: 10px;
  color: #d4ece4;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000324;
  }
}

.showcase .showcase-promote a {
  color: #d4ece4;
  border-bottom: dotted;
  border-width: 1px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000325;
  }
}

.showcase .showcase-promote a:hover {
  color: #fff;
  border-bottom: solid;
  border-width: 1px;
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000330;
  }
}

.social-bar {
  height: 40px;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d6d6d6;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000332;
  }
}

.social-bar .container {
  padding-top: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000340;
  }
}

.content {
  font-family: "Open Sans";
  padding-top: 30px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000344;
  }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content span {
  text-align: justify;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000345;
  }
}

.content .title {
  font-weight: bold;
  font-family: "Open Sans";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000346;
  }
}

.content i {
  padding-right: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000347;
  }
}

.content .features {
  padding-top: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/home\.scss;
  }

  line {
    font-family: \0000348;
  }
}

.content .feature {
  padding-top: 30px;
  text-align: justify;
}