@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/post\.scss;
  }

  line {
    font-family: \000031;
  }
}

.back-button {
  margin-top: 40px;
}