@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/sub-header\.scss;
  }

  line {
    font-family: \000031;
  }
}

.subheader {
  min-height: 220px;
  width: 100%;
  color: #ffffff;
  background-color: #005a66;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/sub-header\.scss;
  }

  line {
    font-family: \000033;
  }
}

.subheader .container {
  padding-top: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/sub-header\.scss;
  }

  line {
    font-family: \000038;
  }
}

.subheader h1 {
  font-size: 7em;
  text-shadow: 1px 1px #414042;
}

@media (max-width: 700px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/sub-header\.scss;
    }

    line {
      font-family: \000038;
    }
}

  .subheader h1 {
    font-size: 3em;
  }
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/sub-header\.scss;
  }

  line {
    font-family: \000039;
  }
}

.subheader h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/sub-header\.scss;
  }

  line {
    font-family: \0000310;
  }
}

.subheader i {
  padding-right: 20px;
  font-size: 120px;
}

@media (max-width: 700px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/sub-header\.scss;
    }

    line {
      font-family: \0000310;
    }
}

  .subheader i {
    font-size: 70px;
  }
}