@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000031;
  }
}

.highlight {
  background: #ffffff;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000032;
  }
}

.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000033;
  }
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000034;
  }
}

.highlight .k {
  font-weight: bold;
}

/* Keyword */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000035;
  }
}

.highlight .o {
  font-weight: bold;
}

/* Operator */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000036;
  }
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000037;
  }
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000038;
  }
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \000039;
  }
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000310;
  }
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000311;
  }
}

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000312;
  }
}

.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000313;
  }
}

.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000314;
  }
}

.highlight .gh {
  color: #999999;
}

/* Generic.Heading */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000315;
  }
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000316;
  }
}

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000317;
  }
}

.highlight .go {
  color: #888888;
}

/* Generic.Output */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000318;
  }
}

.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000319;
  }
}

.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000320;
  }
}

.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000321;
  }
}

.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000322;
  }
}

.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000323;
  }
}

.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000324;
  }
}

.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000325;
  }
}

.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000326;
  }
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000327;
  }
}

.highlight .m {
  color: #009999;
}

/* Literal.Number */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000328;
  }
}

.highlight .s {
  color: #dd1144;
}

/* Literal.String */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000329;
  }
}

.highlight .na {
  color: teal;
}

/* Name.Attribute */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000330;
  }
}

.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000331;
  }
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000332;
  }
}

.highlight .no {
  color: teal;
}

/* Name.Constant */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000333;
  }
}

.highlight .ni {
  color: purple;
}

/* Name.Entity */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000334;
  }
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000335;
  }
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000336;
  }
}

.highlight .nn {
  color: #555555;
}

/* Name.Namespace */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000337;
  }
}

.highlight .nt {
  color: navy;
}

/* Name.Tag */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000338;
  }
}

.highlight .nv {
  color: teal;
}

/* Name.Variable */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000339;
  }
}

.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000340;
  }
}

.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000341;
  }
}

.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000342;
  }
}

.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000343;
  }
}

.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000344;
  }
}

.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000345;
  }
}

.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000346;
  }
}

.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000347;
  }
}

.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000348;
  }
}

.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000349;
  }
}

.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000350;
  }
}

.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000351;
  }
}

.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000352;
  }
}

.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000353;
  }
}

.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000354;
  }
}

.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000355;
  }
}

.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000356;
  }
}

.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000357;
  }
}

.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000358;
  }
}

.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000359;
  }
}

.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/home\/jefe\/commangular\/app\/_scss\/syntax\.scss;
  }

  line {
    font-family: \0000360;
  }
}

.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */