---
layout: default
title: Commangular Blog
---

{% assign pageActive = 'blog' %}
{% assign subHeaderTitle = 'Blog' %}
{% assign iconClass = 'fa fa-bullhorn' %}
{% assign subtitle = 'IDEAS AND EXAMPLES ABOUT COMMANGULAR' %}

{% include header.html %}
{% include sub-header.html %}
{% include socialbar.html %}

<div class="container markdown-content">
	
  {% for post in site.posts %}
   	<div class="blog-index">
    	<h3>{{ post.title }}</h3>
    	<h5><strong>{{ post.date | date: "%-d %B %Y" }}</strong></h5>
    	<p>{{ post.excerpt }}</p>
    	<a href="{{ post.url }}">Read more</a>
    	<hr><br>
    </div> 
  {% endfor %}
</div>

{% include footer.html %}