---
layout: default
title: Commangular
---

{% assign pageActive = 'home' %}
{% include header.html%}

<div class="showcase">
	<div class="container text-center">
		<h1>Commangular</h1>
		<h3>COMMAND FRAMEWORK FOR ANGULARJS</h3>
		<a href="https://github.com/yukatan/commangular/raw/master/dist/commangular.zip"class="btn btn-default btn-lg" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Button Download Clicked']);"><i class="fa fa-download"></i>Download</a>
		<div class="showcase-promote">
			Version 0.8.0 | 
			<a href="https://github.com/yukatan/commangular" target="_blank">Github Repository</a>
			 | Created by <a href="https://twitter.com/FlashMandril" target="_blank">Jesús Barquín</a>
		</div>
	</div>
</div>

{% include socialbar.html %}

<div class="content">
	<div class="container">
		<h3>Commangular is an abstraction on top of AngularJS that aims at simplifying the creation and organization of operations in a <strong>self-contained code units</strong> and chain them together with an easy and <strong>fluent API</strong>.</h3>
		<div class="row features">
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-bars"></i>Code Organization.</h4><span>Keep your code organized in small and easy to maintain code units called "commands".</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-chain"></i>Chain Commands.</h4><span>Chain operations together with a fluent api really easy to understand and use.</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-chain-broken"></i>Reduce Dependencies.</h4><span>Reduce dependencies in services and controllers. Dispatch events and leave commangular and angular binding do the rest.</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-random"></i>AOP Like Interception.</h4><span>Intercep command execution with a spring aspects flavour. @Before, @After, @AfterThrowing and @Around.</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-thumb-tack"></i>Angular Dependency Injection.</h4><span>Inject anything from angular as you inject in controllers or services.</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-sitemap"></i>Command Flows.</h4><span>Flows of commands with decision points for condicional command group execution based on preceding results or service values.</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-code-fork"></i>Sequence or Parallel.</h4><span>Chain commands together for sequence or parallel execution.</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-gear"></i>Promises Based</h4><span>Leave commangular dealing with promises and give you the real value.Pause a command execution returning an angular promise and much more.</span>
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12 feature">
			<h4 class="title"><i class="fa fa-mail-forward"></i>Preceding Result Injection.</h4><span>Inject preceding command results in following commands.</span>
		</div>
	</div>
</div>

{% include footer.html %}