<nav class="navbar navbar-default navbar-inverse header" role="navigation">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
     <a class="navbar-brand" href="/"><img src="/img/logo-small-web.png" class="brand-image"></img>Commangular</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li {% if pageActive == 'home' %} class="active" {% endif %}><a href="/" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Home Clicked']);"><i class="fa fa-home"></i>Home</a></li>
       <li {% if pageActive == 'why' %} class="active" {% endif %}><a href="{{site.baseurl}}/why" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Why Clicked']);"><i class="fa fa-question"></i>Where and Why?</a></li>
      <li {% if pageActive == 'get-started' %} class="active" {% endif %}><a href="{{site.baseurl}}/get-started" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Started Clicked']);"><i class="fa fa-gears"></i>Get Started</a></li>
      <li {% if pageActive == 'docs' %} class="active" {% endif %}><a href="{{site.baseurl}}/docs" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Docs Clicked']);"><i class="fa fa-book"></i>Documentation</a></li>
      <li {% if pageActive == 'blog' %} class="active" {% endif %}><a href="{{site.baseurl}}/blog" onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Blog Clicked']);"><i class="fa fa-book"></i>Blog</a></li>
    </ul>
  </div>
</nav>
