<div class="social-bar">
	<div class="container text-center">
		<ul class="list-inline">
			<li><iframe src="http://ghbtns.com/github-btn.html?user=yukatan&repo=commangular&type=watch&count=true"
  				allowtransparency="true" frameborder="0" scrolling="0" width="82" height="20"></iframe></li>
			<li><iframe src="http://ghbtns.com/github-btn.html?user=yukatan&repo=commangular&type=fork&count=true"
  				allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe></li>
  			<li><iframe src="http://ghbtns.com/github-btn.html?user=yukatan&repo=commangular&type=follow&count=true"
  				allowtransparency="true" frameborder="0" scrolling="0" width="140" height="20"></iframe></li>
		</ul>
	</div>
</div>