.footer {

	background-color: #005a66;
	width: 100%;
	min-height: 150px;
	margin-top: 150px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	.footer-sep{background-color:#222222;height:30px;width:100%;}
	.footer-data{color: #d4ece4;padding-top: 25px;
		a{color: #d4ece4;border-bottom: dotted;border-width: 1px;}
		a:hover{color:#fff;border-bottom: solid;border-width: 1px;text-decoration: none;}
		div{padding-top: 5px;}
	}	
}