.subheader {

	.container{padding-top: 10px;}
	min-height: 220px;
	width: 100%;
	color: #ffffff;
	background-color: #005a66;
	h1{font-size:7em;text-shadow: 1px 1px #414042;@media(max-width: 700px){font-size:3em}}
	h3{font-size: 18px;color: #ffffff;font-weight:bold;}
	i{padding-right: 20px; font-size: 120px;@media(max-width: 700px){font-size:70px}}
}